/* header background-color */
.main-bg-color{
    background-color: #F2F6FC;
}

/* .card-style-tran{
   margin-top: 20px;
   transition-property: margin;
   transition-delay: 0.5s;
   transition-timing-function:2s;


}
.card-style-tran:hover{
    margin-top:0;

} */
/* rating styles */

.rating-styles {
    color: #FFC107;
}
.footer-bg-color {
    background-color: #F8F9FA;
}

/* list styles */

.li-style ul li {
    list-style-type: none;
    text-align: left;


}

.li-style ul li a {
    text-decoration: none;
    color: gray;
    font-size: 14px;
}

.li-style ul li:hover a {
    text-decoration: underline;
    color: darkcyan;
    font-size: 16px;
    cursor: pointer;
}