/* header background-color */
.main-bg-color{
    background-color: #F2F6FC;
}

/* .card-style-tran{
   margin-top: 20px;
   transition-property: margin;
   transition-delay: 0.5s;
   transition-timing-function:2s;


}
.card-style-tran:hover{
    margin-top:0;

} */